<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="navegadorid">
      <li class="nav-item">
        <a class="flex-sm-fill text-sm-center nav-link" href="/">Guardar Productos</a>
      </li>
      <li class="nav-item">
        <a class="flex-sm-fill text-sm-center nav-link" href="/cargados">Productos Cargados </a>
      </li>
      <li class="nav-item">
        <a class="flex-sm-fill text-sm-center nav-link" href="/carritoView">Carrito</a>
      </li>
      <li class="nav-item">
        <a class="flex-sm-fill text-sm-center nav-link" href="/chat">Chat Sockets</a>
      </li>
      <li class="nav-item">
        <a class="flex-sm-fill text-sm-center nav-link" href="/info">Info</a>
      </li>
    </ul>
  </div>
</nav>



<script>
  render();

  function render() {
    let idUsuario = sessionStorage.getItem("idUsuario")
    let usuario = sessionStorage.getItem("usuario")
    let avatar = sessionStorage.getItem("avatar")
    setTimeout(function () {
      //se valida si existe session de usuario y adiciona menu usuario
      if (usuario != null && idUsuario != null && avatar != null) {
        let html =
          '<img style="width: 50px;border-radius: 25px;" src="' + avatar + '">' +
          ' <li class="nav-item dropdown">' +
          '<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' + usuario + '</a>' +
          '<div class="dropdown-menu" aria-labelledby="navbarDropdown">' +
          '<a class="dropdown-item" href="/perfil/' + idUsuario + '">Perfil</a>' +
          '<a class="dropdown-item" href="/api/logout">Logout</a>' +
          ' <button class="dropdown-item" style="border: none;" id="navAdmin" onclick="AdminMode()">Admin/Normal Productos</button>' +
          '<div class="dropdown-divider"></div>' +
          '</div>' +
          '</li>'
        document.getElementById("navegadorid").innerHTML += html
      } else {
        fetch(`https://${location.host}/api/logout`, {
          method: 'GET',
          headers: { 'Content-Type': 'application/json' },
        })
          .then(response => response.json())
          .catch(error => console.error('Error:', error))
      }
    }, 2000);
  }
</script>