<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" href="/">Guardar Productos</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/cargados">Productos Cargados </a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/carritoView">Carrito</a>
  <button class="flex-sm-fill text-sm-center nav-link" onclick="AdminMode()">Enanble/disamble Admin</button>
</nav>