<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script type="application/javascript">
    render();
    crearIdLocalCarrito();
    sessionStorage.setItem("admin", false)
    function render() {
        let id = sessionStorage.getItem("idCarrito")
        fetch(`http://localhost:8080/api/carrito/${id}/productos`)
            // Converting received data to JSON
            .then((response) => response.json())
            .then((data) => {
                let html = `<div>
                            <h5>Sin datos</h5>
                        </div>`
                if (data) {
                    html = data.map((element, index) => {
                        if (element.id == undefined) {

                            element.id = element._id;
                        }
                        return (
                            ` <div class="col-sm col-4" style="margin-top:13px !important">
                                <div class="card " style="width: 15rem;border-color: orange;">
                                    <img class="card-img-top" src="${element.foto}" style="width:160px ;height:160px ;"
                                        alt="Card image cap" style="display: block;  margin-left: auto;  margin-right: auto;  width: 50%;">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h5>${element.nombre} </h5> <h6>precio: $ ${element.precio}</h6>
                                        </div>

                                        <p class="card-text">${element.descripcion}</p>
                                        <button type="button" class="btn btn-primary" onclick="removeProductCarrito('${element.id}','${id}')">Eliminar del carrito</button>
                                    </div>
                                </div>
                            </div>`
                        )
                    }).join(" ");
                }
                document.getElementById("datosProductos").innerHTML = html
            });
    }

    function removeProductCarrito(id_pro, id) {
        fetch(`http://localhost:8080/api/carrito/${id}/productos/${id_pro}`, {
            method: 'DELETE',
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => response.json())
            .catch(error => console.error('Error:', error))
            .then(response => {
                render()
                alert(`${response}`)
            })
    }

    function crearIdLocalCarrito() {

        let id = sessionStorage.getItem("idCarrito")
        if (id == null || id == undefined) {
            fetch('http://localhost:8080/api/carrito', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
            })
                .then(response => response.json())
                .catch(error => console.error('Error:', error))
                .then(response => {
                    console.log(response)
                    sessionStorage.setItem("idCarrito", response)
                });
        }
    }

    async function validarAdminn() {
        let admin = sessionStorage.getItem("admin")
        if (admin = 'true' == admin) {
            $("#navAdmin").removeClass("fail");
            $("#navAdmin").addClass("success");

        } else {
            $("#navAdmin").removeClass("success");
            $("#navAdmin").addClass("fail");

        }
    }

    async function AdminMode() {
        let admin = sessionStorage.getItem("admin")
        if (admin == null) {
            admin = true
        } else {
            admin = 'true' == admin
            admin = !admin
        }

        sessionStorage.setItem("admin", admin)
        validarAdminn()

    }

    function BuyProducts() {
        let id = sessionStorage.getItem("idCarrito");
        let idUsuario = sessionStorage.getItem("idUsuario");
         fetch(`http://localhost:8080/api/carrito/${id}/comprar/${idUsuario}`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => response.json())
            .catch(error => console.error('Error:', error))
            .then(response => {
                render()
                alert(`${response.descripcion}`)
            })
    }
</script>