{{> headers}}
{{> navegador}}
<br>
<div class="container">
    <div class="row d-flex flex-row-reverse">
        <button type="button" class="btn btn-primary" onclick="BuyProducts()">Realizar compra</button>
    </div>
    <div class="row " id="datosProductos">
    </div>
</div>
{{> scriptsCarrito}}