{{> headers}}
<div style="width: 100%;height: 80%;display: flex;justify-content: center;align-items: center;">
    <div
        style="display: flex;justify-content: center;justify-content: center;align-items: center;margin-top:250px;padding: 20px;border: 1px solid #e5e5e5;border-radius: 25px;">
        <form action="" method="POST" autocomplete="on" id="formLogin">
            <div class="bg-primary" style="width: 100%;height:30px;border-radius: 25px;">
                <h5 style="color: white;text-align: center;">Login</h5>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="exampleInputPassword1">Usuario "Email"</label>
                    <input type="email" class="form-control" name="username">
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="text" class="form-control" name="password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Conectar</button>
            <br>
            <br>
            <a href="/registro">Registrar</a>
        </form>
    </div>
</div>
{{> scriptsLogin}}