{{> headers}}
{{> navegador}}
<br>
<div class="d-flex justify-content-center">
    <h5 class="center">Productos</h5>
</div>
<div class="d-flex justify-content-center">
    <p>Para activar modo admin valla a su correo y hacer clic en Admin/Normal Productos</p>
</div>
<br>

<div class="container">
    <div class="row " id="datosProductos">
    </div>
</div>
{{> scripts}}